
/* This is for easier layout */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body, html 
  {
    height: 100%;
    font-family: Georgia, Serif;
    background-color: #d1e0e0; 
  }

  .top-nav 
  {
    background: #f1f2d5; 
    display: flex; /* For layout */
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; 
    height: 70px; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

  .totoro-logo img 
  {
    height: 120px; 
    width: auto; /*Keep size the same */
  }

  .nav-menu 
  {
    list-style: none;
    display: flex;
    gap: 30px; 
  }

  .nav-menu li a 
  {
    text-decoration: none; /* Remove underline from links */
    color: #333;
    font-weight: bold;
    font-size: 20px; 
    line-height: 1.4; 
    padding: 12px 18px; 
    border-radius: 5px;
  }

  .nav-menu li a:hover 
  {
    color: #6a9a88;  /* Change color when hovering */
    background-color: rgba(106, 154, 136, 0.2); /* Light background when hovering */
  }

  .page-title 
  {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin: 80px 0;
    color: #333;
  }

  .characters-container 
  {
    display: flex; /* For character boxes */
    flex-wrap: wrap; /* Allow wrapping to new lines */
    justify-content: center;
    gap: 40px;
    padding: 0 40px;
    margin-top: 40px;
  }

  .character-box 
  {
    background-color: #a8b8b8;
    border-radius: 20px;
    width: 300px;
    height: 420px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    padding: 20px;
    margin-bottom: 0; /* No margin below boxes */
    color: #333;
  }

  .character-box:hover 
  {
    transform: translateY(-10px); /* Move box up when hovering */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Deeper shadow when hovering */
  }

  .character-box img 
  {
    border-radius: 15px;
    width: 100%;
    height: 200%;;
    max-height: 260px;
    object-fit: cover; /* Crop images nicely */
    margin-bottom: 15px; /* Space below images */
  }

  .character-box h2
  {
    color: #f9f6f6;
    text-align: center;
    text-shadow: 3px 3px 8px rgba(0,0,0,0.8);
    padding: 10px;
  }
  .character-box p 
  {
    text-align: center;
    font-size: 16px;
    line-height: 1.3;
  }
  

